body {
  background-image: url("assets/bg.gif");
  background-size: cover;
  height: 100vh;
}

.imageRow img {
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  filter: hue-rotate(300deg);
}

.imageRow img:hover {
  transform: scale(1.25);
  filter: none;
}

.imageRow {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 70px;              
  width: 100%;           
}

p {
   font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;   
  color: white;
  text-align: left;  
  padding-left: 20px;
}

#blue {
  color: white;
  font-style: italic;
   text-align: center;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;   
  color: white;
}

h1 {
  font-family: "Didot", "Times New Roman", serif;
  font-style: italic;
  text-align: center;
  color: white;
  text-shadow: 6px 3px #ffb0eb
}

h2 {
    border: 1px dotted #9595f4;
    width: 350px;
    height: 30px;
    background-color: rgba(164, 132, 177, 0.49);
  font-family: "Didot", "Times New Roman", serif;
  font-style: italic;
  text-align: left;  
  padding-left: 20px;
  color: #FFFFFF;

}
